@font-face {
  font-family: "arial";
  src: url("../fonts/arial/regular/arial-regular.ttf") format("truetype"), url("../fonts/arial/regular/arial-regular.otf") format("opentype");
}
@font-face {
  font-family: "arial";
  src: url("../fonts/arial/bold/arial-bold.ttf") format("truetype"), url("../fonts/arial/bold/arial-bold.otf") format("opentype");
}
/*-----------RESET STYLES------------- */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a, p {
  text-decoration: none;
}

a, button, i, input {
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

ul {
  list-style: none;
}

div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label, select, input, textarea {
  padding: 0;
  margin: 0;
  line-height: 1em;
}

/*--------END RESET STYLES------------ */
/*---------RESET BOOTSTRAP STYLES----- */
.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
  margin: 0;
}

/*-----END RESET BOOTSTRAP STYLES----- */
/*------------HEADER STYLES----------- */
.header {
  background-image: linear-gradient(to top, #010101 0%, #2c2c2b 100%);
}
.header .navbar {
  padding-top: 20px;
  margin: 0;
  border: none;
}
.header .navbar .container {
  padding: 0;
}
.header .navbar .container .navbar-header {
  padding: 0;
}
.header .navbar .container .navbar-header h1 {
  padding-bottom: 20px;
}

.navbar-collapse {
  padding: 0;
}

.navbar-inverse .navbar-nav {
  padding: 10px 0;
  background: #ffd500;
}
.navbar-inverse .navbar-nav li {
  border-right: 1px solid #fff;
}
.navbar-inverse .navbar-nav li a {
  position: relative;
  padding: 5px 15px;
  font: 400 15px "Oswald", sans-serif;
  text-transform: uppercase;
  color: #000;
}
.navbar-inverse .navbar-nav li:last-child {
  border-right: none;
}
.navbar-inverse .navbar-nav li:hover a, .navbar-inverse .navbar-nav li:active a {
  color: #000;
  background: #fff;
}
.navbar-inverse .navbar-nav li:hover a:before, .navbar-inverse .navbar-nav li:active a:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -6px;
  width: 7px;
  height: 12px;
  background: url("../../images/arrow.png") no-repeat;
}

.widget .form-wrap {
  display: inline-block;
  position: relative;
  background-color: #2c2c2b;
  border: 1px solid rgba(121, 120, 118, 0.71);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.26);
}
.widget .form-wrap .input {
  position: relative;
  padding: 0 10px;
  line-height: 35px;
  color: #e7e7e7;
  border: none;
  border-right: 1px solid #2c2c2b;
  background: transparent;
}
.widget .form-wrap .input:focus {
  outline: none;
}
.widget .form-wrap .for-search {
  position: relative;
  border: none;
  background: transparent;
}
.widget .form-wrap .for-search:focus {
  outline: none;
}
.widget .form-wrap .for-search:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 20px;
  right: 10px;
  top: 50%;
  margin-top: -14px;
  background: url("../../images/search.png") no-repeat;
}

/*---------END HEADER STYLES---------- */
/*-----------SLIDER STYLES------------ */
.slider {
  margin-bottom: 50px;
  padding: 10px;
  background: url("../../images/popular-bg.png");
  overflow: hidden;
}
.slider .carousel-indicators {
  padding: 0;
  margin: 0;
  width: auto;
  right: 5%;
  top: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.slider .carousel-inner {
  overflow: visible;
}
.slider .carousel-inner .carousel-caption {
  position: static;
  height: auto !important;
  right: 0;
  left: 0;
  bottom: -100px;
  padding: 35px 0 20px 15px;
  text-align: start;
  background-image: linear-gradient(to top, #010101 0%, #2c2c2b 100%);
  color: #fff;
  border-top: 4px solid #ffd500;
}
.slider .carousel-inner .carousel-caption h4 {
  font: 400 22px "Oswald", sans-serif;
}
.slider .carousel-inner .carousel-caption p {
  font: 300 15px "Oswald", sans-serif;
}

/*--------END SLIDER STYLES----------- */
/*------------POST STYLES------------- */
.main-content {
  padding: 50px 0;
  background-image: linear-gradient(to top, #ffffff 75%, #d1d1cf 100%);
}
.main-content .container {
  padding: 0;
}
.main-content .container .title {
  position: relative;
  margin-bottom: 40px;
  padding: 15px 10px;
  background-image: linear-gradient(to top, #010101 0%, #2c2c2b 100%);
}
.main-content .container .title:before {
  content: "";
  position: absolute;
  bottom: -26px;
  left: 30px;
  width: 33px;
  height: 27px;
  background: url("../../images/delta.png") no-repeat;
}
.main-content .container .title h2 {
  font: 700 16px "Oswald", sans-serif;
  text-transform: uppercase;
  color: #fff;
}

.content {
  padding: 0 25px 0 0;
}
.content .date-wrap {
  padding: 5px;
  width: 75px;
  background: #c3c3c3;
}
.content .date-wrap .date {
  padding: 10px 15px;
  text-align: center;
  border: 1px solid #fff;
}
.content .date-wrap .date span {
  font: 700 30px "Oswald", sans-serif;
  text-transform: uppercase;
  color: #000;
  line-height: 1;
}
.content .date-wrap .date .month {
  display: block;
  font-size: 14px;
  font-weight: 300;
}

.post .post-comments a {
  position: relative;
  padding: 5px 10px 5px 30px;
  font: 400 12px "Arial", sans-serif;
  color: #5e5e5e;
  text-decoration: none;
  background: #ecebeb;
}
.post .post-comments a:before {
  content: "";
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -6px;
  width: 13px;
  height: 13px;
  background: url("../../images/comment-icon.png") no-repeat;
}

.post {
  margin-bottom: 50px;
  padding-bottom: 15px;
  border-bottom: 5px solid #e7e7e7;
}
.post .post-wrap {
  padding: 0 0 0 20px;
}
.post .post-wrap h2 {
  margin-bottom: 15px;
}
.post .post-wrap h2 a {
  font: 400 20px "Oswald", sans-serif;
  text-decoration: none;
  color: #222;
}
.post .post-wrap p {
  padding-top: 30px;
  margin-bottom: 15px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #a5a4a4;
}
.post .post-wrap .button {
  display: inline-block;
  position: relative;
  padding: 10px 40px 10px 10px;
  font: 300 14px "Oswald", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #2c2c2b;
  background: #ffd500;
}
.post .post-wrap .button:before {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -11px;
  width: 22px;
  height: 22px;
  background: url("../../images/arrow-bg.png") no-repeat;
}
.post .post-wrap .button:after {
  content: "";
  position: absolute;
  right: 17px;
  top: 50%;
  margin-top: -7px;
  width: 6px;
  height: 13px;
  background: url("../../images/button-arrow.png") no-repeat;
}

/*---------END POST STYLES------------ */
/*----------PAGINATION STYLES-------- */
/*Search */
.pag-wrap {
  padding: 0;
}
.pag-wrap .next {
  display: none;
}
.pag-wrap .page-numbers {
  padding: 5px 10px;
  font: 400 14px "Arial", sans-serif;
  text-decoration: none;
  color: #222;
  background: #e2e2e2;
}
.pag-wrap .current {
  background: #222;
  color: #fff;
}
.pag-wrap .prev, .pag-wrap .next {
  background: transparent;
}

/*Home */
.custom-pag .page-numbers {
  padding: 5px 10px;
  font: 400 14px "Arial", sans-serif;
  text-decoration: none;
  color: #222;
  background: #e2e2e2;
}
.custom-pag .current {
  background: #222;
  color: #fff;
}
.custom-pag .prev, .custom-pag .next {
  display: none;
}

/*-------END PAGINATION STYLES------- */
/*----------SIDEBAR STYLES----------- */
.sidebar {
  padding: 0;
  margin-left: 10px;
  background: #fff;
}
.sidebar ul .contact-form {
  padding: 0 20px;
  border-bottom: 5px solid #e7e7e7;
}
.sidebar ul .contact-form h3 {
  margin: 20px 0 25px 0;
  font: 700 16px "Oswald", sans-serif;
  color: #222;
}
.sidebar ul .contact-form .wpcf7 p {
  margin-bottom: 10px;
}
.sidebar ul .contact-form .wpcf7 p:last-child {
  margin-bottom: 15px;
}
.sidebar ul .contact-form .wpcf7 p input {
  padding: 10px 0 10px 10px;
}
.sidebar ul .contact-form .wpcf7 p input[type=text], .sidebar ul .contact-form .wpcf7 p input[type=email] {
  width: 100%;
  background-color: #e2e2e2;
  border: 1px solid #b7b7b7;
  box-shadow: inset 0 0 9px rgba(0, 0, 0, 0.06);
}
.sidebar ul .contact-form .wpcf7 p input[type=submit] {
  padding: 10px 40px 10px 10px;
  font: 300 14px "Oswald", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #2c2c2b;
  background: #ffd500 url("../../images/arrow-right.png") 90% 50% no-repeat;
  border: none;
}

.popular {
  padding-top: 20px;
}
.popular h3 {
  position: relative;
  padding: 10px;
  font: 700 16px "Oswald", sans-serif;
  text-transform: uppercase;
  color: #fff;
  background-image: linear-gradient(to top, #010101 0%, #2c2c2b 100%);
}
.popular h3:before {
  content: "";
  position: absolute;
  bottom: -26px;
  left: 30px;
  width: 33px;
  height: 27px;
  background: url("../../images/delta.png") no-repeat;
}
.popular ul {
  margin-bottom: 30px;
  padding-top: 40px;
  background: url("../../images/popular-bg.png");
}
.popular ul li {
  padding: 0 10px 10px 10px;
}
.popular ul li a {
  display: block;
  padding: 15px;
  font: 400 16px/18px "Oswald", sans-serif;
  color: #222;
  background: #fff;
  text-decoration: none;
}
.popular ul li a:hover {
  background: #ffd500;
}

.sidebar .widget {
  padding: 10px;
  background: url("../../images/popular-bg.png");
}
.sidebar .widget h2 {
  margin-bottom: 15px;
  font: 700 16px "Oswald", sans-serif;
  text-transform: uppercase;
  color: #222;
}
.sidebar .widget ul li {
  display: block;
  padding: 0 10px;
  margin-bottom: 10px;
  line-height: 40px;
  background: #454545;
}
.sidebar .widget ul li:hover {
  background: #ffd500;
}
.sidebar .widget ul li:hover a {
  color: #000;
}
.sidebar .widget ul li a {
  padding-right: 170px;
  font: 400 14px "Arial", sans-serif;
  text-decoration: none;
  color: #b6b6b6;
}
.sidebar .widget ul li span {
  padding: 10px 20px;
  font: 700 12px "Arial", sans-serif;
  color: #000;
  background: #ffd500;
}

/*--------END SIDEBAR STYLES--------- */
/*---------CATEGORIES STYLES--------- */
.main-content .content .post-category {
  padding-right: 10px;
  margin-bottom: 10px;
  border: none;
}
.main-content .content .post-category .post-wrap {
  padding: 0;
}
.main-content .content .post-category .post-wrap h2 {
  display: block;
  padding-left: 10px;
  position: absolute;
  top: 0px;
  width: 90%;
  height: auto;
  background: #ffd500;
}
.main-content .content .post-category .post-wrap h2 a {
  font: 300 16px "Oswald", sans-serif;
  color: #000;
}
.main-content .content .post-category .post-wrap .cont {
  display: none;
}
.main-content .content .post-category .post-wrap .cont p {
  position: absolute;
  bottom: 0;
  padding: 0 10px;
  font: 300 16px "Oswald", sans-serif;
  color: #fff;
}
.main-content .content .post-category .post-wrap:hover {
  opacity: 0.6;
  background-color: #000;
}
.main-content .content .post-category .post-wrap:hover .cont {
  display: block;
}

/*------END CATEGORIES STYLES-------- */
/*----------COMMENTS STYLES----------- */
.comments-area .comments-title {
  margin-bottom: 50px;
  font: 400 20px "Oswald", sans-serif;
  color: #222;
}

.comment-list .comment {
  margin-bottom: 50px;
}
.comment-list .comment .comment-author {
  display: inline-block;
  margin-right: 30px;
  float: left;
}
.comment-list .comment .comment-meta {
  display: flex;
  flex-direction: column;
}
.comment-list .comment .comment-meta .fn {
  margin-bottom: 15px;
  font: 400 18px "Oswald", sans-serif;
  color: #222;
}
.comment-list .comment .comment-meta a {
  margin-bottom: 25px;
  font: 400 14px "Oswald", sans-serif;
  color: #a5a4a4;
  text-decoration: none;
}
.comment-list .comment .comment-meta p {
  padding-top: 0;
  margin-bottom: 20px;
  color: #5e5e5e;
}
.comment-list .comment .comment-meta .reply a {
  position: relative;
  padding-left: 20px;
  font: 400 14px "Oswald", sans-serif;
  color: #a5a4a4;
}
.comment-list .comment .comment-meta .reply a:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -7px;
  width: 17px;
  height: 13px;
  background: url("../../images/reply-icon.png") no-repeat;
}

.comment-respond h3 {
  margin-bottom: 30px;
  font: 400 20px "Oswald", sans-serif;
  color: #222;
}
.comment-respond label {
  margin-bottom: 10px;
  font: 400 15px "Oswald", sans-serif;
  color: #222;
}

.post .comment-form {
  max-width: 640px;
}
.post .comment-form .comment-form-author, .post .comment-form .comment-form-email {
  padding-top: 0;
}
.post .comment-form .comment-form-author input[type=text], .post .comment-form .comment-form-email input[type=text] {
  padding: 5px;
  display: block;
  border: 1px solid #ccc;
}
.post .comment-form .comment-form-comment {
  padding-top: 0;
}
.post .comment-form .comment-form-comment textarea {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
}
.post .comment-form .form-submit {
  padding-top: 0;
  margin-bottom: 0;
}
.post .comment-form .form-submit input[type=submit] {
  padding: 10px 20px;
  font: 400 14px "Oswald", sans-serif;
  text-transform: uppercase;
  color: #222;
  background: #ffd500;
  border-radius: 15px;
  border: none;
}

.children {
  margin-left: 50px;
}

.login-hidden {
  display: none;
}

.logged-in .login-hidden {
  display: block;
}

/*-------END COMMENTS STYLES--------- */
/*-----------CONTACT STYLES---------- */
.contact .container .form {
  margin-bottom: 60px;
  background: url("../../images/popular-bg.png");
}
.contact .container .form .wpcf7-form {
  padding: 5px 0 0 15px;
}

.contact {
  background-image: linear-gradient(to top, #ffffff 75%, #d1d1cf 100%);
}
.contact .about-us {
  padding: 40px 0 0 0;
}
.contact .about-us .for-cont {
  padding: 0;
}
.contact .about-us .for-cont h2 {
  margin-bottom: 20px;
  font: 700 36px "Oswald", sans-serif;
  text-transform: uppercase;
  color: #222;
}
.contact .about-us .for-cont p {
  margin-bottom: 10px;
  color: #222;
  font: 700 14px "Oswald", sans-serif;
}
.contact .about-us .for-cont p:last-child {
  font-weight: 400;
  color: #c3c3c3;
}

.contact {
  padding-top: 20px;
}
.contact .contact-wrap {
  padding: 0;
}
.contact .contact-wrap .wpcf7 {
  padding: 0;
}
.contact .contact-wrap .wpcf7 h3 {
  margin-bottom: 15px;
  font: 700 16px "Oswald", sans-serif;
  text-transform: uppercase;
  color: #222;
}
.contact .contact-wrap .wpcf7 p {
  margin-bottom: 10px;
}
.contact .contact-wrap .wpcf7 p input[type=text], .contact .contact-wrap .wpcf7 p input[type=email], .contact .contact-wrap .wpcf7 p input[type=tel], .contact .contact-wrap .wpcf7 p textarea {
  padding: 5px;
  font-size: 14px;
  background-color: #e2e2e2;
  border: 1px solid #b7b7b7;
  box-shadow: inset 0 0 9px rgba(0, 0, 0, 0.06);
}
.contact .contact-wrap .wpcf7 p textarea {
  width: 100%;
}
.contact .contact-wrap .wpcf7 p input[type=submit] {
  padding: 10px 75px 10px 10px;
  font: 300 14px "Oswald", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #2c2c2b;
  background: #ffd500 url("../../images/arrow-right.png") 90% 50% no-repeat;
  border: none;
}

.info-sidebar {
  padding: 20px;
  background: #fff;
  border-bottom: 4px solid #e2e2e2;
}
.info-sidebar h2 {
  margin-bottom: 15px;
  font: 700 16px "Oswald", sans-serif;
  text-transform: uppercase;
  color: #222;
}
.info-sidebar p {
  margin-bottom: 15px;
  font: 400 12px "Arial", sans-serif;
  color: #c3c3c3;
}
.info-sidebar .phone, .info-sidebar .email {
  position: relative;
  padding-left: 50px;
  margin-bottom: 10px;
  font: 700 18px "Oswald", sans-serif;
  text-transform: uppercase;
  color: #222;
  background: #ffd500;
}
.info-sidebar .phone:before, .info-sidebar .email:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
}
.info-sidebar .phone:before {
  margin-top: -15px;
  width: 39px;
  height: 29px;
  background: url("../../images/phone-icon.png") no-repeat;
}
.info-sidebar .email {
  margin-bottom: 0;
  font: 300 18px "Oswald", sans-serif;
}
.info-sidebar .email:before {
  margin-top: -13px;
  width: 36px;
  height: 26px;
  background: url("../../images/mail-icon.png") no-repeat;
}

/*--------END CONTACT STYLES--------- */
/*-----------FOOTER STYLES----------- */
.footer {
  padding: 20px 0;
  background-image: linear-gradient(to top, #010101 0%, #2c2c2b 100%);
}
.footer .container {
  padding: 0;
}
.footer .container ul {
  padding: 0;
}
.footer .container ul p {
  padding-top: 10px;
  font: 700 12px "Arial", sans-serif;
  text-transform: uppercase;
  color: #fff;
}

.social li {
  position: relative;
}
.social li .facebook:before {
  content: "";
  position: absolute;
  right: 50px;
  width: 32px;
  height: 33px;
  background: url("../../images/facebook-icon.png") no-repeat;
}
.social li .twitter:before {
  content: "";
  position: absolute;
  right: 10px;
  width: 32px;
  height: 33px;
  background: url("../../images/twitter-icon.png") no-repeat;
}
.social li .instagram:before {
  content: "";
  position: absolute;
  width: 32px;
  height: 33px;
  background: url("../../images/linkedin-icon.png") no-repeat;
}

/*--------END FOOTER STYLES---------- */
@media (min-width: 1200px) {
  .container {
    width: 1030px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 750px;
  }

  /*------------HEADER STYLES----------- */
  .header .navbar .container .navbar-header h1 img {
    width: 100px;
  }

  .widget .form-wrap .input {
    line-height: 30px;
  }

  .navbar-inverse .navbar-nav {
    padding: 10px 0;
  }
  .navbar-inverse .navbar-nav li a {
    padding: 5px 14px;
    font-size: 11px;
  }

  /*--------END HEADER STYLES---------- */
  /*-----------SLIDER STYLES------------ */
  .slider .carousel-inner .carousel-caption {
    padding: 10px 0 10px 15px;
  }
  .slider .carousel-inner .carousel-caption h4 {
    font-size: 20px;
  }
  .slider .carousel-inner .carousel-caption p {
    font-size: 13px;
  }

  /*--------END SLIDER STYLES----------- */
  /*------------POST STYLES------------- */
  .content .date-wrap .date span {
    font-size: 25px;
  }
  .content .date-wrap .date .month {
    font-size: 12px;
  }

  .post .post-comments a {
    font-size: 11px;
  }

  .post .post-wrap h2 {
    margin-bottom: 10px;
  }
  .post .post-wrap h2 a {
    font-size: 18px;
  }
  .post .post-wrap p {
    font-size: 13px;
    line-height: 21px;
  }
  .post .post-wrap .button {
    font-size: 12px;
  }

  /*---------END POST STYLES------------ */
  /*----------SIDEBAR STYLES----------- */
  .sidebar ul .contact-form .wpcf7 p input {
    padding: 8px 0 8px 8px;
  }
  .sidebar ul .contact-form .wpcf7 p input[type=submit] {
    font-size: 12px;
  }

  .popular {
    padding-top: 20px;
  }
  .popular h3 {
    font-size: 15px;
  }
  .popular ul li a {
    font-size: 14px;
  }

  .sidebar .widget ul li {
    padding: 0 5px;
    line-height: 35px;
  }
  .sidebar .widget ul li a {
    padding-right: 93px;
    font-size: 13px;
  }

  /*--------END SIDEBAR STYLES--------- */
  /*-----------CONTACT STYLES---------- */
  .contact .about-us {
    padding: 40px 0 0 0;
  }
  .contact .about-us .for-cont {
    padding: 0;
  }
  .contact .about-us .for-cont h2 {
    margin-bottom: 0;
    font-size: 30px;
  }

  /*--------END CONTACT STYLES--------- */
  /*-----------FOOTER STYLES----------- */
  .social li .facebook:before {
    right: 80px;
  }
  .social li .twitter:before {
    right: 40px;
  }
  .social li .instagram:before {
    right: 0;
  }

  /*--------END FOOTER STYLES---------- */
}
@media (max-width: 767px) {
  .container {
    width: 300px;
  }

  /*------------HEADER STYLES----------- */
  .header .navbar .container .navbar-header h1 {
    padding-left: 25px;
  }

  .widget .form-wrap .input {
    line-height: 30px;
  }

  .navbar-inverse .navbar-nav {
    padding: 10px 0;
  }
  .navbar-inverse .navbar-nav li a {
    padding: 5px 5px;
    font-size: 9px;
  }
  .navbar-inverse .navbar-collapse {
    margin: 0;
    width: 100%;
  }

  /*---------END HEADER STYLES---------- */
  /*-----------SLIDER STYLES------------ */
  .slider {
    margin-bottom: 25px;
  }
  .slider .carousel-inner .carousel-caption {
    padding: 10px 0 10px 15px;
  }
  .slider .carousel-inner .carousel-caption h4 {
    font-size: 16px;
  }
  .slider .carousel-inner .carousel-caption p {
    font-size: 11px;
  }

  /*--------END SLIDER STYLES----------- */
  /*------------POST STYLES------------- */
  .main-content {
    padding: 25px 0;
  }
  .main-content .container .title h2 {
    font-size: 14px;
  }

  .content {
    padding: 0;
    margin: 0;
  }
  .content .date-wrap .date {
    padding: 5px 0;
  }
  .content .date-wrap .date span {
    font-size: 20px;
  }
  .content .date-wrap .date .month {
    font-size: 11px;
  }

  .post {
    margin-bottom: 30px;
  }
  .post .post-comments a {
    font-size: 11px;
  }

  .post .post-wrap h2 {
    margin-bottom: 15px;
  }
  .post .post-wrap h2 a {
    font-size: 18px;
  }
  .post .post-wrap p {
    padding-top: 15px;
    font-size: 12px;
    line-height: 20px;
  }
  .post .post-wrap .button {
    font-size: 11px;
  }

  /*---------END POST STYLES------------ */
  .post .comment-form .form-submit input[type=submit] {
    font-size: 12px;
  }

  /*----------SIDEBAR STYLES----------- */
  .sidebar {
    margin: 20px 0 0 0;
  }
  .sidebar ul .contact-form .wpcf7 p input {
    padding: 8px 0 8px 8px;
  }
  .sidebar ul .contact-form .wpcf7 p input[type=submit] {
    font-size: 12px;
  }

  .popular {
    padding-top: 20px;
  }
  .popular h3 {
    font-size: 15px;
  }
  .popular ul li a {
    font-size: 16px;
  }

  .sidebar .widget ul li {
    padding: 0 5px;
    line-height: 35px;
  }
  .sidebar .widget ul li a {
    padding-right: 143px;
    font-size: 13px;
  }

  /*--------END SIDEBAR STYLES--------- */
  /*-----------CONTACT STYLES---------- */
  .contact .container .form {
    margin-bottom: 0;
  }

  .contact .about-us {
    padding: 0;
  }
  .contact .about-us .for-cont h2 {
    margin-bottom: 0;
    font-size: 25px;
  }
  .contact .about-us .for-cont p {
    font-size: 11px;
  }

  .contact {
    padding-top: 20px;
  }
  .contact .contact-wrap .wpcf7 p input[type=text], .contact .contact-wrap .wpcf7 p input[type=email], .contact .contact-wrap .wpcf7 p input[type=tel], .contact .contact-wrap .wpcf7 p textarea {
    width: 100%;
  }
  .contact .contact-wrap .wpcf7 p input[type=submit] {
    font-size: 11px;
  }

  /*--------END CONTACT STYLES--------- */
  /*-----------FOOTER STYLES----------- */
  .social li .facebook:before {
    top: -25px;
    right: 90px;
  }
  .social li .twitter:before {
    top: -25px;
    right: 50px;
  }
  .social li .instagram:before {
    top: -25px;
    right: 12px;
  }

  /*--------END FOOTER STYLES---------- */
}
