@media (max-width: 767px)
  .container
    width: 300px

  /*------------HEADER STYLES-----------*/
  .header
    .navbar
      .container
        .navbar-header
          h1
            padding-left: 25px

  .widget
    .form-wrap
      .input
        line-height: 30px

  .navbar-inverse
    .navbar-nav
      padding: 10px 0
      li
        a
          padding: 5px 5px
          font-size: 9px
    .navbar-collapse
      margin: 0
      width: 100%

  /*---------END HEADER STYLES----------*/

  /*-----------SLIDER STYLES------------*/
  .slider
    margin-bottom: 25px
    .carousel-inner
      .carousel-caption
        padding: 10px 0 10px 15px
        h4
          font-size: 16px
        p
          font-size: 11px
  /*--------END SLIDER STYLES-----------*/

  /*------------POST STYLES-------------*/
  .main-content
    padding: 25px 0
    .container
      .title
        h2
          font-size: 14px

  .content
    padding: 0
    margin: 0
    .date-wrap
      .date
        padding: 5px 0
        span
          font-size: 20px
        .month
          font-size: 11px

  .post
    margin-bottom: 30px
    .post-comments
      a
        font-size: 11px

  .post
    .post-wrap
      h2
        margin-bottom: 15px
        a
          font-size: 18px
      p
        padding-top: 15px
        font-size: 12px
        line-height: 20px
      .button
        font-size: 11px
  /*---------END POST STYLES------------*/

  .post
    .comment-form
      .form-submit
        input[type=submit]
          font-size: 12px

  /*----------SIDEBAR STYLES-----------*/
  .sidebar
    margin: 20px 0 0 0
    ul
      .contact-form
        .wpcf7
          p
            input
              padding: 8px 0 8px 8px
            input[type=submit]
              font-size: 12px

  .popular
    padding-top: 20px
    h3
      font-size: 15px
    ul
      li
        a
          font-size: 16px

  .sidebar
    .widget
      ul
        li
          padding: 0 5px
          line-height: 35px
          a
            padding-right: 143px
            font-size: 13px
  /*--------END SIDEBAR STYLES---------*/

  /*-----------CONTACT STYLES----------*/
  .contact
    .container
      .form
        margin-bottom: 0

  .contact
    .about-us
      padding: 0
      .for-cont
        h2
          margin-bottom: 0
          font-size: 25px
        p
          font-size: 11px

  .contact
    padding-top: 20px
    .contact-wrap
      .wpcf7
        p
          input[type=text],  input[type=email], input[type=tel], textarea
            width: 100%
          input[type=submit]
            font-size: 11px
  /*--------END CONTACT STYLES---------*/

  /*-----------FOOTER STYLES-----------*/
  .social
    li
      .facebook
        &:before
          top: -25px
          right: 90px
      .twitter
        &:before
          top: -25px
          right: 50px
      .instagram
        &:before
          top: -25px
          right: 12px
  /*--------END FOOTER STYLES----------*/