@media (min-width: 768px) and (max-width: 991px)

  .container
    width: 750px

  /*------------HEADER STYLES-----------*/
  .header
    .navbar
      .container
        .navbar-header
          h1
            img
              width: 100px

  .widget
    .form-wrap
      .input
        line-height: 30px

  .navbar-inverse
    .navbar-nav
      padding: 10px 0
      li
        a
          padding: 5px 14px
          font-size: 11px
  /*--------END HEADER STYLES----------*/

  /*-----------SLIDER STYLES------------*/
  .slider
    .carousel-inner
      .carousel-caption
        padding: 10px 0 10px 15px
        h4
          font-size: 20px
        p
          font-size: 13px
  /*--------END SLIDER STYLES-----------*/

  /*------------POST STYLES-------------*/
  .content
    .date-wrap
      .date
        span
          font-size: 25px
        .month
          font-size: 12px

  .post
    .post-comments
      a
        font-size: 11px

  .post
    .post-wrap
      h2
        margin-bottom: 10px
        a
          font-size: 18px
      p
        font-size: 13px
        line-height: 21px
      .button
        font-size: 12px
  /*---------END POST STYLES------------*/

  /*----------SIDEBAR STYLES-----------*/
  .sidebar
    ul
      .contact-form
        .wpcf7
          p
            input
              padding: 8px 0 8px 8px
            input[type=submit]
              font-size: 12px

  .popular
    padding-top: 20px
    h3
      font-size: 15px
    ul
      li
        a
          font-size: 14px

  .sidebar
    .widget
      ul
        li
          padding: 0 5px
          line-height: 35px
          a
            padding-right: 93px
            font-size: 13px
  /*--------END SIDEBAR STYLES---------*/

  /*-----------CONTACT STYLES----------*/
  .contact
    .about-us
      padding: 40px 0 0 0
      .for-cont
        padding: 0
        h2
          margin-bottom: 0
          font-size: 30px

  /*--------END CONTACT STYLES---------*/

  /*-----------FOOTER STYLES-----------*/
  .social
    li
      .facebook
        &:before
          right: 80px
      .twitter
        &:before
          right: 40px
      .instagram
        &:before
          right: 0
  /*--------END FOOTER STYLES----------*/