@import compass
@import compass/css3/user-interface
@import variables
@import compass/css3
@import compass/layout
@import compass/typography
@import compass/utilities

@font-face
  font-family: "arial"
  src: url('../fonts/arial/regular/arial-regular.ttf') format('truetype'), url('../fonts/arial/regular/arial-regular.otf') format('opentype')

@font-face
  font-family: "arial"
  src: url('../fonts/arial/bold/arial-bold.ttf') format('truetype'), url('../fonts/arial/bold/arial-bold.otf') format('opentype')

/*-----------RESET STYLES-------------*/
*
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

a,p
  text-decoration: none

a, button, i, input
  -webkit-transition: 0.2s ease-out
  -moz-transition: 0.2s ease-out
  -o-transition: 0.2s ease-out
  transition: 0.2s ease-out

ul
  list-style: none

div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,input,textarea
  padding: 0
  margin: 0
  line-height: 1em
/*--------END RESET STYLES------------*/

/*---------RESET BOOTSTRAP STYLES-----*/
.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand
  margin: 0
/*-----END RESET BOOTSTRAP STYLES-----*/

/*------------HEADER STYLES-----------*/
.header
  background-image: linear-gradient(to top, $header-bg 0%, $header-dec 100%)
  .navbar
    padding-top: 20px
    margin: 0
    border: none
    .container
      padding: 0
      .navbar-header
        padding: 0
        h1
          padding-bottom: 20px

.navbar-collapse
  padding: 0

.navbar-inverse
  .navbar-nav
    padding: 10px 0
    background: $yellow-color
    li
      border-right: 1px solid $white-color
      a
        position: relative
        padding: 5px 15px
        font: 400 15px 'Oswald', sans-serif
        text-transform: uppercase
        color: $black-color
      &:last-child
        border-right: none
      &:hover, &:active
        a
          color: $black-color
          background: $white-color
          &:before
            content: ''
            position: absolute
            left: 0
            top: 50%
            margin-top: -6px
            width: 7px
            height: 12px
            background: url("../../images/arrow.png") no-repeat

.widget
  .form-wrap
    display: inline-block
    position: relative
    background-color: $header-dec
    border: 1px solid rgba(121, 120, 118, 0.71)
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.26)
    .input
      position: relative
      padding: 0 10px
      line-height: 35px
      color: $border-color
      border: none
      border-right: 1px solid $header-dec
      background: transparent
      &:focus
        outline: none
    .for-search
      position: relative
      border: none
      background: transparent
      &:focus
        outline: none
      &:before
        content: ''
        position: absolute
        width: 16px
        height: 20px
        right: 10px
        top: 50%
        margin-top: -14px
        background: url("../../images/search.png") no-repeat
/*---------END HEADER STYLES----------*/

/*-----------SLIDER STYLES------------*/
.slider
  margin-bottom: 50px
  padding: 10px
  background: url("../../images/popular-bg.png")
  overflow: hidden
  .carousel-indicators
    padding: 0
    margin: 0
    width: auto
    right: 5%
    top: 5%
    display: flex
    flex-direction: column
    align-items: flex-end
  .carousel-inner
    overflow: visible
    .carousel-caption
      position: static
      height: auto !important
      right: 0
      left: 0
      bottom: -100px
      padding: 35px 0 20px 15px
      text-align: start
      background-image: linear-gradient(to top, $header-bg 0%, $header-dec 100%)
      color: $white-color
      border-top: 4px solid $yellow-color
      h4
        font: 400 22px 'Oswald', sans-serif
      p
        font: 300 15px 'Oswald', sans-serif

/*--------END SLIDER STYLES-----------*/

/*------------POST STYLES-------------*/
.main-content
  padding: 50px 0
  background-image: linear-gradient(to top, $white-color 75%, $post-bg 100%)
  .container
    padding: 0
    .title
      position: relative
      margin-bottom: 40px
      padding: 15px 10px
      background-image: linear-gradient(to top, $header-bg 0%, $header-dec 100%)
      &:before
        content: ''
        position: absolute
        bottom: -26px
        left: 30px
        width: 33px
        height: 27px
        background: url("../../images/delta.png") no-repeat
      h2
        font: 700 16px 'Oswald', sans-serif
        text-transform: uppercase
        color: $white-color

.content
  padding: 0 25px 0 0
  .date-wrap
    padding: 5px
    width: 75px
    background: $light-grey
    .date
      padding: 10px 15px
      text-align: center
      border: 1px solid $white-color
      span
        font: 700 30px 'Oswald', sans-serif
        text-transform: uppercase
        color: $black-color
        line-height: 1
      .month
        display: block
        font-size: 14px
        font-weight: 300

.post
  .post-comments
    a
      position: relative
      padding: 5px 10px 5px 30px
      font: 400 12px 'Arial', sans-serif
      color: $post-comments
      text-decoration: none
      background: $comments-bg
      &:before
        content: ''
        position: absolute
        left: 10px
        top: 50%
        margin-top: -6px
        width: 13px
        height: 13px
        background: url("../../images/comment-icon.png") no-repeat

.post
  margin-bottom: 50px
  padding-bottom: 15px
  border-bottom: 5px solid $border-color
  .post-wrap
    padding: 0 0 0 20px
    h2
      margin-bottom: 15px
      a
        font: 400 20px 'Oswald', sans-serif
        text-decoration: none
        color: $dark-grey
    p
      padding-top: 30px
      margin-bottom: 15px
      font-family: 'Arial', sans-serif
      font-size: 14px
      font-weight: 400
      line-height: 24px
      color: $paragraph-color
    .button
      display: inline-block
      position: relative
      padding: 10px 40px 10px 10px
      font: 300 14px 'Oswald', sans-serif
      text-transform: uppercase
      text-decoration: none
      color: $header-dec
      background: $yellow-color
      &:before
        content: ''
        position: absolute
        right: 10px
        top: 50%
        margin-top: -11px
        width: 22px
        height: 22px
        background: url("../../images/arrow-bg.png") no-repeat
      &:after
        content: ''
        position: absolute
        right: 17px
        top: 50%
        margin-top: -7px
        width: 6px
        height: 13px
        background: url("../../images/button-arrow.png") no-repeat

/*---------END POST STYLES------------*/

/*----------PAGINATION STYLES--------*/
/*Search*/
.pag-wrap
  padding: 0
  .next
    display: none
  .page-numbers
    padding: 5px 10px
    font: 400 14px 'Arial', sans-serif
    text-decoration: none
    color: $dark-grey
    background: $pag-bg
  .current
    background: $dark-grey
    color: $white-color
  .prev, .next
    background: transparent

/*Home*/
.custom-pag
  .page-numbers
    padding: 5px 10px
    font: 400 14px 'Arial', sans-serif
    text-decoration: none
    color: $dark-grey
    background: $pag-bg
  .current
    background: $dark-grey
    color: $white-color
  .prev, .next
    display: none

/*-------END PAGINATION STYLES-------*/

/*----------SIDEBAR STYLES-----------*/
.sidebar
  padding: 0
  margin-left: 10px
  background: $white-color
  ul
    .contact-form
      padding: 0 20px
      border-bottom: 5px solid $border-color
      h3
        margin: 20px 0 25px 0
        font: 700 16px 'Oswald', sans-serif
        color: $dark-grey
      .wpcf7
        p
          margin-bottom: 10px
          &:last-child
            margin-bottom: 15px
          input
            padding: 10px 0 10px 10px
          input[type=text],  input[type=email]
            width: 100%
            background-color: $pag-bg
            border: 1px solid $input-border
            box-shadow: inset 0 0 9px rgba(0, 0, 0, 0.06)
          input[type=submit]
            padding: 10px 40px 10px 10px
            font: 300 14px 'Oswald', sans-serif
            text-transform: uppercase
            text-decoration: none
            color: $header-dec
            background: $yellow-color url("../../images/arrow-right.png") 90% 50% no-repeat
            border: none

.popular
  padding-top: 20px
  h3
    position: relative
    padding: 10px
    font: 700 16px 'Oswald', sans-serif
    text-transform: uppercase
    color: $white-color
    background-image: linear-gradient(to top, $header-bg 0%, $header-dec 100%)
    &:before
      content: ''
      position: absolute
      bottom: -26px
      left: 30px
      width: 33px
      height: 27px
      background: url("../../images/delta.png") no-repeat
  ul
    margin-bottom: 30px
    padding-top: 40px
    background: url("../../images/popular-bg.png")
    li
      padding: 0 10px 10px 10px
      a
        display: block
        padding: 15px
        font: 400 16px/18px 'Oswald', sans-serif
        color: $dark-grey
        background: #fff
        text-decoration: none
        &:hover
          background: $yellow-color

.sidebar
  .widget
    padding: 10px
    background: url("../../images/popular-bg.png")
    h2
      margin-bottom: 15px
      font: 700 16px 'Oswald', sans-serif
      text-transform: uppercase
      color: $dark-grey
    ul
      li
        display: block
        padding: 0 10px
        margin-bottom: 10px
        line-height: 40px
        background: $cat-bg
        &:hover
          background: $yellow-color
          a
            color: $black-color
        a
          padding-right: 170px
          font: 400 14px 'Arial', sans-serif
          text-decoration: none
          color: $cat-color
        span
          padding: 10px 20px
          font: 700 12px'Arial', sans-serif
          color: $black-color
          background: $yellow-color
/*--------END SIDEBAR STYLES---------*/

/*---------CATEGORIES STYLES---------*/
.main-content
  .content
    .post-category
      padding-right: 10px
      margin-bottom: 10px
      border: none
      .post-wrap
        padding: 0
        h2
          display: block
          padding-left: 10px
          position: absolute
          top: 0px
          width: 90%
          height: auto
          background: $yellow-color
          a
            font: 300 16px 'Oswald', sans-serif
            color: $black-color
        .cont
          display: none
          p
            position: absolute
            bottom: 0
            padding: 0 10px
            font: 300 16px 'Oswald', sans-serif
            color: $white-color
        &:hover
          opacity: .6
          background-color: $black-color
          .cont
            display: block

/*------END CATEGORIES STYLES--------*/


/*----------COMMENTS STYLES-----------*/
.comments-area
  .comments-title
    margin-bottom: 50px
    font: 400 20px 'Oswald', sans-serif
    color: $dark-grey

.comment-list
  .comment
    margin-bottom: 50px
    .comment-author
      display: inline-block
      margin-right: 30px
      float: left
    .comment-meta
      display: flex
      flex-direction: column
      .fn
        margin-bottom: 15px
        font: 400 18px 'Oswald', sans-serif
        color: $dark-grey
      a
        margin-bottom: 25px
        font: 400 14px 'Oswald', sans-serif
        color: $paragraph-color
        text-decoration: none
      p
        padding-top: 0
        margin-bottom: 20px
        color: $post-comments
      .reply
        a
          position: relative
          padding-left: 20px
          font: 400 14px 'Oswald', sans-serif
          color: $paragraph-color
          &:before
            content: ''
            position: absolute
            left: 0
            top: 50%
            margin-top: -7px
            width: 17px
            height: 13px
            background: url("../../images/reply-icon.png") no-repeat

.comment-respond
  h3
    margin-bottom: 30px
    font: 400 20px 'Oswald', sans-serif
    color: $dark-grey
  label
    margin-bottom: 10px
    font: 400 15px 'Oswald', sans-serif
    color: $dark-grey

.post
  .comment-form
    max-width: 640px
    .comment-form-author, .comment-form-email
      padding-top: 0
      input[type=text]
        padding: 5px
        display: block
        border: 1px solid #ccc
    .comment-form-comment
      padding-top: 0
      textarea
        display: block
        width: 100%
        border: 1px solid #ccc
    .form-submit
      padding-top: 0
      margin-bottom: 0
      input[type=submit]
        padding: 10px 20px
        font: 400 14px 'Oswald', sans-serif
        text-transform: uppercase
        color: $dark-grey
        background: $yellow-color
        border-radius: 15px
        border: none

.children
  margin-left: 50px

.login-hidden
  display: none

.logged-in
  .login-hidden
    display: block
/*-------END COMMENTS STYLES---------*/

/*-----------CONTACT STYLES----------*/
.contact
  .container
    .form
      margin-bottom: 60px
      background: url("../../images/popular-bg.png")
      .wpcf7-form
        padding: 5px 0 0 15px

.contact
  background-image: linear-gradient(to top, $white-color 75%, $post-bg 100%)
  .about-us
    padding: 40px 0 0 0
    .for-cont
      padding: 0
      h2
        margin-bottom: 20px
        font: 700 36px 'Oswald', sans-serif
        text-transform: uppercase
        color: $dark-grey
      p
        margin-bottom: 10px
        color: $dark-grey
        font: 700 14px 'Oswald', sans-serif
        &:last-child
          font-weight: 400
          color: $light-grey

.contact
  padding-top: 20px
  .contact-wrap
    padding: 0
    .wpcf7
      padding: 0
      h3
        margin-bottom: 15px
        font: 700 16px 'Oswald', sans-serif
        text-transform: uppercase
        color: $dark-grey
      p
        margin-bottom: 10px
        input[type=text],  input[type=email], input[type=tel], textarea
          padding: 5px
          font-size: 14px
          background-color: $pag-bg
          border: 1px solid $input-border
          box-shadow: inset 0 0 9px rgba(0, 0, 0, 0.06)
        textarea
          width: 100%
        input[type=submit]
          padding: 10px 75px 10px 10px
          font: 300 14px 'Oswald', sans-serif
          text-transform: uppercase
          text-decoration: none
          color: $header-dec
          background: $yellow-color url("../../images/arrow-right.png") 90% 50% no-repeat
          border: none

.info-sidebar
  padding: 20px
  background: $white-color
  border-bottom: 4px solid $pag-bg
  h2
    margin-bottom: 15px
    font: 700 16px 'Oswald', sans-serif
    text-transform: uppercase
    color: $dark-grey
  p
    margin-bottom: 15px
    font: 400 12px 'Arial', sans-serif
    color: $light-grey
  .phone, .email
    position: relative
    padding-left: 50px
    margin-bottom: 10px
    font: 700 18px 'Oswald', sans-serif
    text-transform: uppercase
    color: $dark-grey
    background: $yellow-color
    &:before
      content: ''
      position: absolute
      left: 0
      top: 50%
  .phone
    &:before
      margin-top: -15px
      width: 39px
      height: 29px
      background: url("../../images/phone-icon.png") no-repeat
  .email
    margin-bottom: 0
    font: 300 18px 'Oswald', sans-serif
    &:before
      margin-top: -13px
      width: 36px
      height: 26px
      background: url("../../images/mail-icon.png") no-repeat

/*--------END CONTACT STYLES---------*/

/*-----------FOOTER STYLES-----------*/
.footer
  padding: 20px 0
  background-image: linear-gradient(to top, $header-bg 0%, $header-dec 100%)
  .container
    padding: 0
    ul
      padding: 0
      p
        padding-top: 10px
        font: 700 12px 'Arial', sans-serif
        text-transform: uppercase
        color: $white-color

.social
  li
    position: relative
    .facebook
      &:before
        content: ''
        position: absolute
        right: 50px
        width: 32px
        height: 33px
        background: url("../../images/facebook-icon.png") no-repeat
    .twitter
      &:before
        content: ''
        position: absolute
        right: 10px
        width: 32px
        height: 33px
        background: url("../../images/twitter-icon.png") no-repeat
    .instagram
      &:before
        content: ''
        position: absolute
        width: 32px
        height: 33px
        background: url("../../images/linkedin-icon.png") no-repeat
/*--------END FOOTER STYLES----------*/



@import media1200
@import media992
@import media768
@import media320